.contendorProductosDetalle {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px ;
    column-gap: 5rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 700px;
    height: 400px;
    background-color: rgb(152, 228, 186);
    border-radius: 8rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.infoProductos {
    display: grid;
}

.btnAgregarCarrito {
    display: block;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;;
    background-color: #ffc107;
    border-radius: 2rem;
}