
.spanDetalle {
    color: black;
    font-size: 1rem; 
    margin-bottom: 5px;
}

.acomodadoContador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contador {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid rgb(0, 137, 191);
    /*anchura, estilo y color borde*/
    padding: 5px;
    /*espacio alrededor texto*/
    background-color: rgb(0, 137, 191);
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
}

.spanTotal {
    color:rgb(0, 137, 191);
}
.precio {
    margin: 30px;
}