.contenedorCounter {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-content: center;
}

.counter{
    background-color:rgb(16, 71, 211);
    border-radius: 10px;
    width: 200px;
    height: 85px;
}

.stockDisponible {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5rem;
    font-size: 20px;
    color: white;
}

.botonCounterSumar {
    margin-left: 1rem;
    background-color: rgb(250, 251, 245);
    width: 40px;
    height: 27px;
    border: none;
    font-size: 20px;
    border-radius: 1rem;
}

.botonCounterRestar {
    margin-right: 1rem;
    background-color: rgb(250, 251, 245);
    width: 40px;
    height: 27px;
    border: none;
    font-size: 20px;
    border-radius: 1rem;
}