.img {
        border-radius: 2rem;
        margin-bottom: 2rem;
        height: 400px;
}

.span{
        color: black;
        background-color: rgba(255, 254, 254, 0.577);
        border-radius: 2rem;
        width: 200px;
        
        
}

.contendorProductos {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: auto;
        min-height: 500px;
        display: grid;
        justify-items: center;
        align-items: stretch;
        color: rgba(249, 241, 241, 0.922);

}

.botonAgregar {
        border: 1px solid #FFC800;
        /*anchura, estilo y color borde*/
        padding: 5px;
        /*espacio alrededor texto*/
        background-color: #FFC800;
        /*color botón*/
        color: #ffffff;
        /*color texto*/
        text-decoration: none;
        /*decoración texto*/
        text-transform: uppercase;
        /*capitalización texto*/
        border-radius: 50px;
        text-align: center;
        margin: 10px 0px 20px 0px;
    
    }

.text-focus-in {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
}

@-webkit-keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}